.portfolio_section{
    background: #F8F9FA;
    padding: 70px 0;
}
.portfolio img{
    width: 100%;
    height: 200px;
}

@media screen and (max-width:769px){
    .portfolio_title p{
        left: 35%;
    }
}