.portfolio_section{
    background: #F8F9FA;
    padding: 70px 0;
}
.portfolio_title p{
    position: absolute;
    left: 45%;
}
.portfilo_content{
    cursor: pointer;
    transition: 0.6s;
}
.portfilo_content:hover{
    transform: scale(0.9);
}
